/* stylelint-disable import-notation */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable shorthand-property-no-redundant-values */
/* stylelint-disable length-zero-no-unit */


@import "./variables";
@import "./styles_chat";
@import "./scroll";
@import url("https://fonts.googleapis.com/css?family=Inter");

html {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: Inter, sans-serif;
  overflow-x: hidden;
  font-weight: 400;
}

img {
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  background: $back-color;
}

/* *input group* */

.form-group-reg {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-top: 70px;

  &__other {
    margin-top: auto;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-top: 70px;

  &__other {
    margin-top: auto;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label {
  margin-top: 9px;
  font-size: 12px;
  font-weight: 700;
  line-height: 9px;
  color: $second-color;
}

.input {
    color: $text-color;
  border: none;
  border-bottom: 1px solid $blue-color;
  font-size: 17px;
  font-weight: 600;
  line-height: 3px;
  background:none;

  &:focus {
    outline: none;
  }
}

/* *input group* */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px 30px 30px;
  width: 340px;
  height: 450px;
  border: 8px solid #0c0c0c;
  background: linear-gradient(70deg, #001f22, #000);
  border-radius: 60px;

  &__title {
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 700;
  line-height: 25px;
  color: $text-color;
  }

  &__title-download {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
    color: $text-color;
    }
  
}

.containerReg{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px 30px 30px;
  width: 340px;
  height: 640px;
  border: 8px solid #0c0c0c;
  background: linear-gradient(70deg, #001f22, #000);
  border-radius: 60px;

  &__titleReg {
    margin-bottom: -10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 25px;
    color: $text-color;
    }
  
}

/* *button*** */

.button {
    margin:  auto;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 600;
    line-height: 13px;
    background: $blue-color;
    color: $text-color;
    cursor: pointer;
  }

.button-reg {
  margin: 10px auto;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  line-height: 13px;
  background: $blue-color;
  color: $text-color;
  cursor: pointer;
}
  
.navigation-btn {
  background: none;
  color: $blue-color;
  cursor: pointer;
}

.exit-btn {
  color: red;
}

.back{
  display: block;
  position: fixed;
  left:3%;
  top: 3%;
  height:40px;
  width:40px;
  transition:all .3s ease-out;
  border: 1px solid #333;
  border-radius: 2em;
}

.back:hover {
  position: fixed;
  left: 4%;
  top: 4%;
  height:50px;
  width:50px; 
  display: block;        
}  


/* **button*** */  

/* ******settings*** */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 50px 30px;
  width: 340px;
  height: 450px;
  border: 8px solid #0c0c0c;
  background: linear-gradient(70deg, #001f22, #000);
  border-radius: 60px;

  &__title {
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 700;
  line-height: 25px;
  color: $text-color;
  }

  &_big {
    height: fit-content;
  }
}

.profilePic {
  margin-bottom: 16px;
  position: relative;
  width: 130px;
  border-radius: 50%;
  cursor: pointer;

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #efefef;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
    object-fit: cover;
    object-position: center;

    &:hover {
      filter: brightness(0.5);
    }
  }

  &__text {
    display: none;
  }

  &:hover &__text {
    display: block;
    position: absolute;
    text-align: center;
    top: 25%;
    color: black;
  }
}

.name {
  text-align: center;
  font-size: 30px;
    font-weight: 600;
    line-height: 16px;
  color:$text-color;
}


.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #202020, $alpha: 40%);
}

.inputGroupSettings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 5px 100px -25px 0px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;

  &__label {
    color: $text-color;
  }

  &__value {
    color: $second-color;
    border: none ; 
    outline: none ;
  }
}

.inputGroupSettingsEdit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 2px 0px 2px 0px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;

  &__label {
    color: $text-color;
  }

  &__value {
    color: $second-color;
    border: none ; 
    outline: none ;
    background: transparent;
    text-align: right; 

  }
}

/* ******settings*** */
